<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="y.q.wifisend">

    <uses-sdk android:minSdkVersion="13"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <application
            android:allowBackup="true"
            android:name=".Base.BaseApplication"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar">

        <activity android:name=".Activity.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity android:name=".Activity.SacnReciverAcivity"/>
        <activity android:name=".Activity.FileChoseActivity"/>
    </application>

</manifest>
